#hi{
    font-size: 40px;
    width: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#hi2{
    color:  #de3999;
}
#hi3{
    color: darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}