#hi1{
    color: darkgoldenrod;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#hi0{
    color: #f9ff4a;
    background-color: midnightblue;
    font-size: 26px;
}
