#hi1{
    color: #ff5465;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#hi0{
   color: rgb(165, 85, 112);
}
#hi{
    width: 300px;
}